<!DOCTYPE html>
<html>

<head>
  <title>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <p>Đây là trang chủ v1.0</p>
  <% include layout/footer%>
</body>

</html>